
/* Mobile */
@media (max-width: 739px){
    #header{
        overflow: hidden;
    }

    #nav{
        display: block;
    }

    #nav .subnav{
        position: initial;
        box-shadow: none;
        background-color: rgb(44, 42, 42);
    }

    #nav .subnav a{
        color: #fff;
        padding: 13px 55px;
    }

    #nav li{
        display: block;
    }

    #header .search-btn{
        display: none;
    }

    #header .mobile-menu{
        display: block;
    }

    #slider .text-content{
        display: none;
    }

    .full-mobile{
        width: 100% !important;
    }

    .divname{
        padding: 0;
        margin-bottom: 10px;
    }

    .divemail{
        padding: 0;
    }

    .contact-btn{
        width: 100%;
        font-size: 18px;
    }
}
