* {
    box-sizing: inherit;
  }
  html {
    font-size: 62.5%;
    /* 1 rem = 16px(100%), with 62.5% => 1 rem = 10px */
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
  }

  /* background WHITE */
  .whiteBg{
    background-color: #fff !important;
  }
  .grid{
      width: 1200px;
      max-width: 100%;
      margin: 0 auto;
  }
  .grid__full-width{
      width: 100%;
  }
  .grid__row{
      display: flex;
      flex-wrap: wrap;
  }
@keyframes fadeIn{
    0%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}